{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h1>Delegation</h1>
    {{ form_start(form,{'method': 'post', 'action': path('delegation_new') }) }}
    <div class="form-group">
            {{ form_row(form.chef,{'attr': {'class': 'form-control', 'placeholder':'Le chef de chambre'}}) }}
    </div>

    <ul>
        <input class="btn btn-primary btn-sm" type="submit" value="Valider" />
        {{ form_end(form) }}
        <a class="btn btn-primary btn-sm" href="{{ path('delegation_index') }}">Aller à la liste</a>
    </ul>
</div>
{% endblock %}
