{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper col-lg-3">
    <h1>Responsable </h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <ul>
     <input class="btn btn-primary btn-sm" type="submit" value="Valider" />
    {{ form_end(form) }}
        <a class="btn btn-primary btn-sm" href="{{ path('responsable_index') }}">Aller à la liste</a>
    </ul>
</div>
{% endblock %}
